body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(230, 230, 230);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.wide-button {
  width: 100%;
  height: 2.5rem;
  margin: 0.3rem 0 !important;
  font-weight: 400 !important;
}

.cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 1.35rem;
}

.cursive-robert {
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  padding-left: 0.2rem;
}

#loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card-container {
  height: 75vh !important;
  display: flex;
  justify-content: center;
  margin: 0 0;
}

.card-panel {
  min-height: 18rem;
}

#divider-line {
  display: block;
  height: 3px;
  width: 100px;
  background-color: #26a69a;
  content: '';
  margin: 30px auto;
}

.spacer {
  height: 5rem;
}

h6 {
  color: #fff;
  font-size: 1.35rem !important;
  line-height: 1.9rem !important;
  letter-spacing: 1.1px;
  font-weight: 400;
}

/* Menus */

nav {
  position: absolute;
  background-color: #26a699be !important;
  z-index: 100;
}

nav ul a,
nav {
  color: rgb(233, 233, 233);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.75px;
}

nav ul a:hover {
  background-color: #2070688c;
}

.nav-wrapper {
  width: 80%;
  margin: 0 auto;
}

.logout {
  font-size: 1rem;
  font-weight: bold !important;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

input {
  padding-right: 0 !important;
}

/* Reviews */

#background-image {
  z-index: -1;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.reviews {
  margin: 1rem 1rem;
  width: 45%;
}

.reviews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-content {
  max-height: 4rem !important;
}

.card-content,
.card-action {
  padding: 0.5rem 1rem !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Log In */

.authorization-form {
  position: fixed;
  top: 25%;
  left: 33%;
}

.auth-card-header {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #00a1a1;
}

.auth-card {
  background-color: rgb(250, 250, 250, 0.93) !important;
  width: 40% !important;
}

.ui.form input {
  width: 100%;
  height: 2rem;
}

.field {
  width: 100%;
  padding-right: 1rem;
}

ui.button {
  margin-bottom: 0.25rem !important;
}

.home-font {
  font-family: 'Dancing Script', cursive;
  font-size: 7.5rem;
}

.destination-text {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #26a69a;
}

#chevron {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -20px;
  left: 50%;
  font-size: 7rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.reviews-container {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.parallax-container {
  min-height: 380px;
  height: 100vh !important;
  line-height: 0;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
}

.parallax-splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/img/outside-home-front.jpg');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.smithsonian {
  color: rgb(220, 220, 220);
}

.parallax-river {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('/img/river.jpeg');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('/img/outside-home-front-2.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lock-icon {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.parallax-container .section {
  width: 100%;
}

#splash {
  opacity: 1;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.icon-block {
  padding: 0 10px;
}

#home-icon {
  font-size: 1.3rem;
}

footer.page-footer {
  margin: 0 0;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  font-size: 3.5rem;
  margin-bottom: 1rem !important;
}

.icon-descr {
  margin-bottom: -0.5rem !important;
}

.booking-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 25px;
}

.find-us {
  margin-top: 50px;
}

#logo {
  width: auto;
  height: 60px;
  margin: 10px 45px;
}

.dashboard-container {
  padding: 7rem 0;
}

.star-icon {
  font-size: 2rem;
  margin: 1rem 0.5rem;
}

.star-icon-small {
  font-size: 1.8rem;
  margin: 1rem 0.15rem;
  padding-top: 0.4rem;
}

.rating-row {
  display: flex;
  justify-content: space-between;
}

.rating-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-left-margin {
  margin-left: 3rem;
}

.star-left-margin {
  margin-left: 0.5rem;
}

.align-items-override {
  align-items: flex-start;
  padding: 5rem 0;
  height: 100% !important;
}

.small-margin {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
